name: workflow for Maven using Snyk security scan
on: push
jobs:
  security:
    runs-on: ubuntu-latest    
    permissions:
      actions: read
      contents: read
      security-events: write
    
    steps:
      - uses: actions/checkout@master
      
    #  - name: Set up JDK 17
    #    uses: actions/setup-java@v1
    #    with:
    #      java-version: 17
          
      - name: Set up Snyk CLI to check for security issues
        uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    
      - name: Snyk Auth
        run: snyk auth
        
      - name: Snyk Code test
        run: snyk test --all-projects --org=260af689-1d5e-4d9c-9d5d-feb06192dce6
       # run: snyk code test 
        # snyk code test --sarif > snyk-code.sarif 

      - name: Run Snyk to check for vulnerabilities

        uses: snyk/actions/maven@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif
